form {
  width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  padding: 5px;
}

table {
  width: 1000px;
  margin: 10px auto;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 20px;
}
